RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteRule ^contacto/?$ contact.html
RewriteRule ^nosotros/?$ about.html
RewriteRule ^empresarial_industrial/?$ empresas.html
RewriteRule ^vivienda_en_containers/?$ vivienda.html